.re_configuratior{

  .info, .em-message{
    line-height: 1.3;
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 10px;
    margin-bottom: 35px;

    background: linear-gradient(45deg, #0a73f2 0%, #4c98ef 100%, #1578ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0a73f2", endColorstr="#1578ea",GradientType=1 );

    p{
      color: #bdebee;
      padding: 10px;
      margin: 0;
      max-width: 660px;

      b{
        color: #dde8e8;
      }
    }
  }

  .em-message{
    width: 100%;
    padding: 9px;
    margin: 3px 10px 10px;
    color: #111;
    background: #F1F7FE;
    border: 1px solid #B5D2E3;
  }

  .em_module_box{
    position: relative;

    > h2{
      color: #a7a7a7;
      font-size: 14px;
      text-transform: uppercase;
      margin: 25px 15px 0;

      &:first-child{
        margin-top: 0;
      }
    }
  }

  .em-module{
    margin: 15px;
    background: #fdfdfd;
    border: 1px solid #e6e6e8;

    .em-header{
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      background: #f7f7f7;
      padding: 12px 10px;
      border-bottom: 1px solid #e6e6e8;

      > label{
        margin-left: 5px;
      }
    }

    label{
      font-weight: 600;
    }

    &.complete{
      border-color: #5ca02e;

      .em-header{
        background: #f4fff1;
        border-color: #d4eabf;
      }

      .em-content{
        background: #fcfffc;
      }
    }
  }

  .em-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    padding: 15px 0 5px;
  }

  .em-widget{
    width: calc(50% - 20px);
    margin: 0 10px 10px;
    padding: 0;

    &.full{
      width: calc(100% - 20px);
    }

    &.m12{
      margin-top: 17px;
    }
  }

  ul.em-messages{
    margin: 0 10px 10px;
    padding: 0 0 0 25px;
    overflow-x: hidden;

    li{
      list-style: initial;
      margin: 4px 0;
      font-weight: 500;

      &.success{
        color: #5ca02e;
      }

      &.error{
        color: #a02e38;
      }
    }
  }

  input[type="radio"]{
    margin: 3px 3px 3px 4px;
  }

  #group_hint {
    position: absolute;
    font-family: "Architects Daughter",cursive;
    font-size: 1rem;
    color: #838990;
    top: -5px;
    left: 225px;
    z-index: 1;
    padding: 0 6px 24px 42px;
    background: url(/system/themes/flexible/icons/arrow_left.svg) 6px bottom no-repeat;
    transform: rotate(-2deg);

    &.disabled{
      display: none;
    }
  }

  &.run{

    .em-module{
      pointer-events: none;
      opacity: .3;

      &.complete{
        pointer-events: initial;
        opacity: 1;
      }
    }
  }
}
